body {
    --theme-primary: #000000;
    --theme-secondary: #ffffff;
    background: var(--theme-secondary);
    color: var(--theme-primary);
}

.slider {
    position: relative;
}

.sssprev {
    cursor: w-resize;
}

.sssnext {
    cursor: e-resize;
}

.container {
    margin: 15px;
    font-family: "Neue Haas Unica W01 Regular", Helvetica, sans-serif;
    font-size: 0.7em;
    line-height: 1.3em;
}

a {
    text-decoration: none;
    color: var(--theme-primary);
}

img {
    max-width: 100%;
}

.left {
    width: 40%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

.block {
    border-bottom: 1px solid var(--theme-primary);
    display: inline-block;
    width: 100%;
}

.noblock {
    border-bottom: none;
    padding-bottom: 0 !important;
}

.noblock .sssprev,
.noblock .sssnext {
    display: none;
}

.noblock + .block {
    padding-top: 0;
}

.work .slider {
    padding-top: 10px;
    width: 100%;
    display: block;
}

.work__image {
    height: 100px;
    width: auto;
}

.work__image img {
    height: 100%;
    max-width: 100%;
}

.current,
.previous,
.work,
.contact,
.misc {
    padding: 15px 0;
}

.text {
    font-size: 0.95em;
    line-height: 1.3em;
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .text {
        font-size: 0.7em;
        line-height: 1.3em;
        width: 50%;
    }

    .container {
        margin: 30px;
        font-size: 1.4em;
        line-height: 1.25em;
    }

    .current,
    .previous,
    .work,
    .contact,
    .misc {
        padding: 30px 0;
    }

    .work__image {
        width: auto;
        height: 325px;
    }

    .work .slider {
        width: 50%;
        display: inline-block;
        padding: 0;
    }
}
